@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Nanum+Myeongjo:wght@700&family=Roboto:wght@500&display=swap');

:root {
    font-size: 20px;
    font-family: Dongle, sans-serif;
}

.hidden {
    display: none;
}

/* Removed extra margin that headings have by default */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}