<!DOCTYPE html>

<head>
    <meta tag='viewport content=' width='width=device-width, initial-scale=1'>
    </meta>
    <title>Nouvel onglet</title>
    <link rel='stylesheet' href={{ url_for('static', filename='style.css' ) }}>
    <script src='static/app.js' defer></script>
</head>

<body>
    <header>
        <h1>Bienvenue, {{ name }}</h1>
        <section>
            <h1 class="hidden">Controls</h1>
            <button onclick="openSetting();" class='btn gray'>Reglage</button>
            <button onclick="openAbout();" class="btn blue">À propos</button>
        </section>
    </header>
    <main>
        <section class="bookmark-container" id="social-media">
            <h2>Résaux Sociaux</h2>
            <ul></ul>
        </section>
        <section class="bookmark-container" id="multimedia">
            <h1>Multimédia</h1>
            <ul></ul>
        </section>
        <section class='bookmark-container' id='bookmarks'>
            <h1>Marque-pages</h1>
            <ul></ul>
        </section>
    </main>
    <footer>
        <div class="grid-container">
            <p id="time">16:24</p>
            <p id="date">Lundi, 12 Janvier 2020</p>
        </div>
    </footer>
</body>